<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error page</title>
</head>

<body>
    <div style="background-color: red; width:800px;height:300px;margin:5% 35% 0 15%; padding:5%;font-size: xx-large;">
        <h1>404 Page Not Found</h1>
        <p style="color:blanchedalmond;">Une erreur est survenue!</p>
    </div>

</body>

</html>