<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api jarvis</title>
</head>
<body>
    <h1>Les routes API</h1>

    <!--login-->
    <h2 style="color: blue;">route post pour login</h2>
    <h3><span style="color:rgb(255, 174, 0);">post</span> http://localhost:3000/login</h3>
    <pre>http://localhost:3000/login</pre>

    <!--register-->
    <h2 style="color:green;">route post pour register</h2>
    <h3><span style="color:rgb(255, 174, 0);">post</span> http://localhost:3000/register</h3>
    <pre>http://localhost:3000/register</pre>

</body>
</html>